@import "../../styles/variables";
@import "../../styles/mixin";

.ctn {
    background-image: url(../../assets/img/page_suscribe.JPG);
    background-repeat: no-repeat; 
    background-attachment:scroll; 
    background-size: cover;
    background-position: center top;
    margin-top: -2rem;
    height: 100vh;
    position: relative;
}

.footer {
    gap: 2rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &_title {
        h2 {
            padding-top: 2rem;
            text-align: center;
            @include title-page($light-text-color)
        }    
        p {
            font-size: 2.5rem;
            font-family: HindGuntur;
            font-weight: bold;
            text-align: center;
            color: $light-text-color;
        }
    }

    &_below {
        form {
            text-align: center;
        }
        button {
                background-color: $light-text-color;
                border: none;
                color: $light-text-color;
                padding: 18px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 6rem;
                border-radius: 50%;   
        }
        &_input {
            width: 80%;
            text-align: center;
            font-size: 6rem;
            font-family: HindGuntur;
            background-color: transparent;
            border: none;
            border-bottom: 2px $light-text-color solid;
            &:focus {
                outline: none;
                border-bottom: 1px $light-text-color;
            }
        }
    }
    

} 