// COLORS
$light-text-color: #B80032; // +bcg about page
$medium-text-color: rgb(122,109,78); // About page + bcg videoPage
$video-text-color: rgb(236,190,180); 

$concert-bcg-color: rgb(100,148,170); 
$concert-text-color: rgb(236,235,228); 

$store-bcg-color: rgb(33,1,36); 
$store-text-color: rgb(196,167,125);

$footer-text-color: rgb(33,41,34); 


// Titre 
@font-face {
  font-family: 'TanMeringue';
  src: local('TanMeringue'), url(fonts/Tan_Meringue.ttf) format('truetype');
} 

// Text about
@font-face {
  font-family: 'HindGuntur';
  src: local('HindGuntur'), url(fonts/HindGuntur-Bold.ttf) format('truetype');
} 

// Titre
@font-face {
    font-family: 'Forum';
    src: local('Forum'), url(fonts/Forum-Regular.ttf) format('truetype');
  }

// Sous-titre
  @font-face {
    font-family: 'JosefinSans';
    src: local('JosefinSans'), url(fonts/JosefinSans-Bold.ttf) format('truetype');
  }

// Texte
  @font-face {
    font-family: 'TiltNeon';
    src: local('TiltNeon'), url(fonts/RubikDoodleShadow-Regular.ttf) format('truetype');
  }