@import "../../styles/variables";

.nav_box {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav_box__list {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
}

.nav_box__list__title {
    color: $light-text-color;
    font-family: TanMeringue;
    text-decoration: none;
    font-size: 2.5rem;
}

