@import "../../styles/variables";
@import "../../styles/mixin";

.ctn {
    background-image: url(../../assets/img/profilcarlaa.jpg);
    background-repeat: no-repeat; 
    background-attachment:scroll; 
    background-size: cover;
    background-position: center;
    margin-top: -2rem;
    // margin-bottom: 2rem;
    height: 100vh;
}

.title {
    color: $light-text-color;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 9rem;
    padding-top: 4rem;
    padding-bottom: 8rem;

    @include respond(phone) {
        /* Styles spécifiques au breakpoint "phone" */
    }

    @include respond(tab_port) {
        /* Styles spécifiques au breakpoint "tab_port" */
    }
}

.heading {
    margin-bottom: 5rem;
    text-align: center;
    font-family: JosefinSans;
    &_main {
        margin-bottom: 1rem;
        display: block;
        font-size: 4rem;
        color: $light-text-color;
        /* letter-spacing: 2.5rem; */
    }
    &_sub {
        display: block;
        font-size: 2rem;
        letter-spacing: 1.7rem;
        color: $light-text-color;
        /* font-weight: 700; */
    }
}

.footer {
    position: absolute;
    bottom: 3rem; left: 0; right: 0
}

